body {
  background-color: #565c76;
}

.Picture-of-myself {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1 {
  font-family: "Times New Roman";
  font-size: 44px;
  color: #000000;
  text-align: center;
  width: cover;
  margin: auto auto auto;
  padding: 20px;
  background-color: #8b3f3f;
}

h2 {
  font-family: "Times New Roman";
  text-align: center;
  font-size: 35px;
  color: #000000;
  width: 940px;
  margin: auto auto auto;
  padding: 20px;
}
h3 {
  font-family: "Times New Roman";
  text-align: center;
  font-size: 35px;
  color: #000000;
  width: 940px;
  margin: auto auto auto;
  padding: 20px;
}

hr {
  height: 2px;
  width: 50%;
  color: gray;
  background-color: gray;
}

ul,
ol,
li {
  font-family: "sans-serif";
  font-size: 22px;
  text-align: left;
  color: #000000;
  width: 940px;

  margin: auto auto auto;
}
p {
  font-family: "sans-serif";
  font-size: 22px;
  text-align: left;
  color: #000000;
  width: 940px;
  padding: 15px;
  margin: auto auto auto;
}
footer {
  font-family: "sans-serif";
  font-size: 22px;
  color: #000000;
  text-align: center;
  width: 940px;
  margin: auto auto auto;
  padding: 20px;
}
